<div class="col-md-4">
  <a href="/admin/" class="col-md-12 text-center leftPanel">管理首页</a>
  <a href="/admin/banners" class="col-md-12 text-center leftPanel">banner设置</a>
  <a href="/admin/blog" class="col-md-12 text-center leftPanel">blog设置</a>
  <a href="/admin/contact" class="col-md-12 text-center leftPanel">联系方式</a>
  <a href="/admin/custom" class="col-md-12 text-center leftPanel">用户评价</a>
  <a href="/admin/intro" class="col-md-12 text-center leftPanel">产品介绍</a>
  <a href="/admin/msg" class="col-md-12 text-center leftPanel">留言管理</a>
  <a href="/admin/news" class="col-md-12 text-center leftPanel">新闻管理</a>
</div>
<style>
.formRow{margin-top:15px;}
a:hover, a:focus {
    color: #fff;
    text-decoration: none;
}
html,body{height:100%;width:auto;}
a{text-decoration:none;}
.leftPanel{    height: 40px;
    line-height: 40px;
    background: #00a0ea;
    color: #fff;
    border-bottom: 1px solid #e3e3e3;
    }

</style>