<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include components/im.ejs %>
    <title></title>
  </head>
  <body>
    <div class="container">
    <div class="row">
      <% include components/top.inc.ejs %>
      <div class="col-md-8">
        我是管理首页
      </div>
    </div>
   </div>
  </body>
</html>
